name: Test
on: [
  push,
  pull_request
]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Test
        run: go test -coverprofile=coverage.txt ./...
      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage.txt
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
